/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.App {
    text-align: center;
  }

  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
  }
  
  h1, h2 {
    font-weight: 700;
    color: #eeeeee;
  }

  .content-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    height: 80vh;
    margin-top: 20px;
    padding: 0 20px;
  }
  

  .network-form-container {
    width: 30%; 
    padding: 10px;
    background-color: #58595b;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 100%; 
    background-image: linear-gradient(to bottom,#747474 0%, #747474 100%), linear-gradient(to bottom,#4d4d4d 0%,#4d4d4d 100%);
    background-clip: content-box, padding-box;
  }

  .diagram-container {
    width: 65%; 
    height: 100%;
    position: relative;
    background: #4d4d4d;
  }
  