/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.App {
    text-align: center;
  }

  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
  }
  
  h1, h2 {
    font-weight: 700;
    color: #eeeeee;
  }

  .content-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    height: 80vh;
    margin-top: 20px;
    padding: 0 20px;
    position: relative;
  }
  

  .network-form-container {
    width: 30%; 
    padding: 10px;
    background-color: #58595b;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 100%; 
    background-image: linear-gradient(to bottom,#747474 0%, #747474 100%), linear-gradient(to bottom,#4d4d4d 0%,#4d4d4d 100%);
    background-clip: content-box, padding-box;
  }

  .diagram-container {
    width: 65%; 
    height: 100%;
    position: relative;
    background: #4d4d4d;
  }
  
  .headercontainer {
    position: relative;
    padding: 1rem 2rem;
    background-color: #4d4d4d;
    color: white;
    text-align: center;
  }
  
  .headercontainer h1 {
    margin: 0;
    font-size: 1.8rem;
  }
  
  .header-buttons {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    display: flex;
    gap: 1rem;
  }
  
  .header-button {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: rgb(62, 60, 60);
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .header-button:hover {
    background-color: rgb(42, 41, 41);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; 
  }
  
  .middle-box {
    background-color:rgb(42, 41, 41);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    height: auto;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  }